<div class="row">
  <h4 class="center blue-text">Create Profile</h4>
    <div class="col s12">
      <%= form_for Profile.new, url: { action: 'create' } do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :bio, "Bio:" %>
            <%= f.text_field :bio, data: { length: 70 }, required: true %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :location, "Zipcode:" %>
            <%= f.text_field :location, pattern: "[0-9]{5}", title: "Five digit zip code", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :gender, "Gender:" %><br><br>
             <span>
              <label for="man">
                <input id="man" name="profile[gender]" type="radio" value="man" required/>
                <span>I'm a man</span>
              </label>
            </span>
            <span>
              <label for="woman">
                <input id="woman" name="profile[gender]" type="radio" value="woman" required/>
                <span>I'm a woman</span>
              </label>
            </span>
            <span>
              <label for="non-binary">
                <input id="non-binary" name="profile[gender]" type="radio" value="non-binary" required/>
                <span>I'm non-binary</span>
              </label>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :gender_seeking, "Gender seeking:" %><br><br>
             <span>
              <label for="men">
                <input id="men" name="profile[gender_seeking]" type="radio" value="men" required/>
                <span>Men</span>
              </label>
            </span>
            <span>
              <label for="women">
                <input id="women" name="profile[gender_seeking]" type="radio" value="women" required/>
                <span>Women</span>
              </label>
            </span>
            <span>
              <label for="both">
                <input id="both" name="profile[gender_seeking]" type="radio" value="both" required/>
                <span>Both</span>
              </label>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :race, "I identify my ethnicity as:" %><br><br>
             <span>
              <label for="asian">
                <input id="asian" name="profile[race]" type="radio" value="asian" required/>
                <span>Asian</span>
              </label>
            </span>
            <span>
              <label for="black/african">
                <input id="black/african" name="profile[race]" type="radio" value="black/african" required/>
                <span>Black/African</span>
              </label>
            </span>
            <span>
              <label for="caucasian">
                <input id="caucasian" name="profile[race]" type="radio" value="caucasian" required/>
                <span>Caucasian</span>
              </label>
            </span>
            <span>
              <label for="hispanic/latino">
                <input id="hispanic/latino" name="profile[race]" type="radio" value="hispanic/latino" required/>
                <span>Hispanic/Latino</span>
              </label>
            </span>
            <span>
              <label for="native-american">
                <input id="native-american" name="profile[race]" type="radio" value="native-american" required/>
                <span>Native American</span>
              </label>
            </span>
            <span>
              <label for="pacific-islander">
                <input id="pacific-islander" name="profile[race]" type="radio" value="pacific-islander" required/>
                <span>Pacific Islander</span>
              </label>
            </span>
            <span>
              <label for="mixed-race">
                <input id="mixed-race" name="profile[race]" type="radio" value="mixed-race" required/>
                <span>Mixed race</span>
              </label>
            </span>
            <span>
              <label for="other">
                <input id="other" name="profile[race]" type="radio"  value="other" placeholder="Other" />
              </label>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :looking_for, "What Relationship type are you looking for?:" %><br><br>
             <span>
              <label for="dating">
                <input id="dating" name="profile[looking_for]" type="radio" value="dating" required/>
                <span>Dating Relationships</span>
              </label>
            </span>
            <span>
              <label for="friends">
                <input id="friends" name="profile[looking_for]" type="radio" value="friends" required/>
                <span>Friendships</span>
              </label>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="file-field input-field col s12">
            <div class="btn blue">
              <span>File</span>
              <%= f.file_field :images, required: true, multiple: true %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload pictures for your profile">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 center">
            <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      <% end %>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('input#profile_bio').characterCounter();
  });
</script>