 <div class="col m12 col s12">
  <div class="<%= message.user_id == current_user.id ? 'box-blue' : 'box-gray'%>">
    <img height='64' width="64" class="circle <%= message.user_id == current_user.id ? 'right' : 'left'%>" src=<%= message.user.image %>>
    <p><%= message.body %></p>
    <div>
      <span class="date"><%= message.message_time %></span>
    </div>
  </div>
</div>