<div class="row">
  <div class="col s12">
    <div class="row">
      <p>Responses from: <%= @user.display_name.split(' ').first %> </p>
      <%= image_tag @user.image, size: '80x80' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <%= label_tag "Question 1:" %><br>
        <p><%= @questions.first.body %></p>
        <%= text_field_tag :response1, @questions.first.responses.first.body, disabled: true %>
      </div>
    </div>
     <div class="row">
      <div class="input-field col s12">
        <%= label_tag "Question 2:" %><br>
        <p><%= @questions.second.body %></p>
        <%= text_field_tag :response2, @questions.second.responses.first.body, disabled: true %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="center">
        <a class="waves-effect waves-light btn red" >Not interested</a>
        <a class="waves-effect waves-light btn">Interested</a>
      </div>
    </div>
  </div>
</div>