<% if current_user %>
  <nav role="navigation" class="blue">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Two Questions</a>
      <a href="#" data-target="mobile-links" class="sidenav-trigger" onclick="$('.sidenav').sidenav('open');return false">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to 'Interests', interests_path %>
        </li>
        <li>
          <a href="/requests">Requests 
            <% if current_user.new_requests > 0 %>
              <span class="new badge red"><%= current_user.new_requests %></span>
            <% end %>
          </a>
        </li>
        <li>
          <a href="/conversations">Conversations 
            <% if current_user.new_conversations > 0 %>
              <span class="new badge red"><%= current_user.new_conversations %></span>
            <% end %>
          </a>
        </li>
        <li>
          <%=link_to 'Sign out', logout_path %>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-links">
    <li>
      <div class="user-view">
        <a href="#user">
          <img class="circle" src=<%=current_user.image%>>
        </a>
        <a href="#name">
          <span class="black-text name"><%=current_user.display_name%></span>
        </a>
        <a href="#email">
          <span class="black-text email"><%=current_user.email%></span>
        </a>
      </div>
    </li>
    <li>
      <%= link_to 'Interests', interests_path %>
    </li>
    <li>
      <a href="/requests">Requests 
        <% if current_user.new_requests > 0 %>
          <span class="new badge red"><%= current_user.new_requests %></span>
        <% end %>
      </a>
    </li>
    <li>
      <a href="/conversations">Conversations 
        <% if current_user.new_conversations > 0 %>
          <span class="new badge red"><%= current_user.new_conversations %></span>
        <% end %>
      </a>
    </li>
    <li>
      <%=link_to 'Sign out', logout_path%>
    </li>
  </ul>
<% end %>
<script type="text/javascript">
  if($(".new.badge").length > 1) {
    $(".sidenav-trigger").css("color", "red");
  }
</script>